/****************************************    [Table of Contents]   *******************************
1. Root Variables
2. Body and some general stuff
3. Testimonials
**********************************************    [Ends]   ********************************/


/* 1. Root Variables */
:root {
--primary-color: #f1f3f5;
--secondary-color: #28a745;
--bg-color: #0011310d;
--light-primary-color: #d1d2d3;
--font-family: "Muli", sans-serif;
--font-weight: 700;
--text-white: #fff;
--text-center: center;
--green: #28a745;
--red: #b34a54;
--blue: #0d9ab1;
--yellow: #ffc107;
}


/* 2. Body and some general stuff */
body {
font-family: var(--font-family);
}

.logo {
height: 60px;
}

.banner {
height: auto;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.bg-red {
background-color: #f9ced2;
border-top: 6px solid var(--red);
}

.bg-yellow {
background-color: #ffffcc;
border-top: 6px solid var(--yellow);
}

.bg-blue {
background-color: #e7fcff;
border-top: 6px solid var(--blue);
}

.bg-green {
background-color: #85d898;
border-top: 6px solid var(--green);
}

.b-0 {
border: 0;
}

.s-sm {
box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}

.f-bold {
font-weight: var(--font-weight);
}

.f-20 {
font-size: 20px;
}

.t-yellow {
color: #ffc107;
}

.t-red {
color: #dc3545;
}

.t-green {
color: #28a745;
}

.t-blue {
color: #17a2b8;
}

.t-center {
text-align: var(--text-center);
}

.i-opacity {
opacity: 0.3;
}

.bg-dark {
background-color: #000;
}

.t-white {
color: var(--text-white);
}

.u-logo {
height: 5rem;
}

.p-t {
padding-top: 4rem;
}

.r-0 {
border-radius: 0!important;
}

/* 3. Testimonials */
.testimonials {
position: relative;
border: solid 1px #212121;
padding: 45px 50px 25px 60px;
margin-top: 40px;
background-color: #212121;
border-radius: 10px;
color: #fff
}

.post-txt {
font-size: 20px;
margin-bottom: 0
}

.quote-img {
position: absolute;
top: 32px;
left: 25px;
width: 30px;
height: 30px
}

.nice-img {
width: 20px;
height: 25px;
margin-bottom: 7px
}

.arrow-down {
width: 0;
height: 0;
border-left: 25px solid transparent;
border-right: 25px solid transparent;
border-top: 20px solid #212121;
margin-left: 85px
}

.fit-image {
width: 100%;
object-fit: cover
}

.testimonial-pic {
position: absolute;
width: 120px;
height: 120px;
border-radius: 100%;
left: 65px;
margin-top: 15px
}

.testimonial-name {
position: absolute;
font-size: 22px;
margin-top: 60px;
left: 210px;
color: #616161
}